/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  height: 65px;
  line-height: 65px;
  background-color: #5d5b5b;
  width: 100%;
}

nav .logo {
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding: 0 20px;
}

input {
  display: none;
}

nav span {
  color: #0dff00;
}

ul {
  display: flex;
}
ul li {
  cursor: pointer;
  height: 100%;
  padding: 0 20px;
  transition: 0.4s;
  font-size: 20px;
}

ul li a {
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
}
ul li:hover {
  background: black;
}

/*section main*/
section {
  text-align: center;
  padding: 100px;
  width: 100%; /* Set the width to 100% on larger screens */
  box-sizing: border-box; /* Include padding in width calculation */
}

.subtitle {
  font-size: 40px;
  font-weight: 900;
  color: #fff;
  -webkit-text-stroke: 1px black;
}

span {
  color: black;
}

.title {
  font-size: 36px;
  color: black;
  margin-bottom: 20px;
}

.title span.animated-text {
  display: inline-block;
  color: #0dff00;
  animation: fadeInOut 4s infinite alternate; /* Appear and disappear animation */
}

@keyframes fadeInOut {
  0%,
  25% {
    opacity: 0;
    content: "Web Developer";
  }
  26%,
  50% {
    opacity: 1;
    content: "Web Developer";
  }
  51%,
  75% {
    opacity: 0;
    content: "Designer";
  }
  76%,
  100% {
    opacity: 1;
    content: "Designer";
  }
}

.description {
  font-size: 25px;
  font-weight: 400;
  color: black;
}

/* ... Your existing styles ... */

.action_btns {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  color: #fff;
  background-color: #007bff;
  margin-right: 10px;
  transition: background-color 0.3s ease;
  border-radius: 5px; /* Add border radius to buttons */
}

button:hover {
  background-color: black;
  color: white;
}

.hire_me {
  background-color: #0dff00;
  color: black;
}

.projects {
  background-color: #0dff00;
  color: black;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/*tablet version*/
@media (max-width: 950px) {
  nav .logo {
    font-size: 25px;
  }
  ul li {
    padding: 0 10px;
  }
  .subtitle {
    font-size: 36px;
  }
  .title {
    font-size: 26px;
  }
  .description {
    font-size: 20px;
  }
  button {
    font-size: 12px;
    display: none;
  }
}

/*mobile version*/
@media (max-width: 700px) {
  nav .logo {
    font-size: 25px;
  }
  nav ul {
    display: grid;
    position: absolute;
    background: #787474;
    width: 100%;
    transform: translateY(-100%);
    z-index: -1;
    transition: 0.6s;
    top: 4rem;
    right: 0;
  }
  nav ul li:hover {
    color: #0dff00;
    background: black;
  }
  nav ul li {
    text-align: center;
  }
  nav ul li a {
    color: #fff;
  }

  nav .navbar-toggle {
    display: grid !important;
  }
  /*section mobile*/
  section {
    text-align: center;
    padding: 100px;
    width: 100%; /* Set the width to 100% on larger screens */
    box-sizing: border-box; /* Include padding in width calculation */
  }

  .subtitle {
    font-size: 30px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
  }

  span {
    color: black;
  }

  .title {
    font-size: 25px;
    color: #007bff;
    margin-bottom: 20px;
  }

  .title span.animated-text {
    display: inline-block;
    color: #1de842;
    animation: fadeInOut 4s infinite alternate; /* Appear and disappear animation */
  }

  @keyframes fadeInOut {
    0%,
    25% {
      opacity: 0;
      content: "Web Developer";
    }
    26%,
    50% {
      opacity: 1;
      content: "Web Developer";
    }
    51%,
    75% {
      opacity: 0;
      content: "Designer";
    }
    76%,
    100% {
      opacity: 1;
      content: "Designer";
    }
  }

  .description {
    font-size: 25px;
    font-weight: 400;
    color: #1de842;
  }

  .action_btns {
    margin-top: 20px;
  }

  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    color: #fff;
    background-color: #007bff;
    margin-right: 10px;
    transition: background-color 0.3s ease;
    border-radius: 2px; /* Add border radius to buttons */
  }

  button:hover {
    background-color: #0056b3;
  }

  .hire_me {
    background-color: #28a745;
  }

  .portfolio {
    background-color: #007bff;
  }

  /*This is for toggle section css*/
  nav .navbar-toggle {
    display: none;
    height: min-content;
    cursor: pointer;
  }
  nav .navbar-toggle .bar {
    width: 30px;
    height: 4px;
    margin: 12px 10px 0px 50px;
    background: #ffffff;
    border-radius: 12%;
    transition: 0.4s;
  }
  nav ul a {
    font-size: 15px;
  }
  input:checked ~ nav ul {
    transform: translateY(0);
  }
  input:checked ~ nav .navbar-toggle {
    margin-top: 18px;
  }
  input:checked ~ nav .navbar-toggle .bar:nth-child(1) {
    position: absolute;
    transform: rotate(45deg);
  }
  input:checked ~ nav .navbar-toggle .bar:nth-child(2) {
    display: none;
  }
  input:checked ~ nav .navbar-toggle .bar:nth-child(3) {
    transform: rotate(-45deg);
  }
}
/*mobile version*/