* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	top: 10px;
	position: fixed;
	width: 100%;
}
.span {
	color: white;
	font-weight: bold;
	text-transform: uppercase;
}
.logo a {
	font-size: 30px;
	text-decoration: none;
	font-weight: bold;
	color: yellow;
	margin-left: 80px;
}
nav ul {
	display: flex;
}
nav ul li {
	list-style: none;
}
nav ul li a {
	text-decoration: none;
	font-size: 20px;
	font-weight: 600;
	font-family: Arial, Helvetica, sans-serif;
	display: inline-block;
	margin: auto 20px;
	width: max-content;
	color: black;
	padding: 10px;
	position: relative;
	align-items: center;
	justify-content: center;
}
nav ul li a:hover,
.active {
	color: blue;
	width: max-content;
	border-bottom: 3px solid blue;
}
nav ul li a::before {
	position: absolute;
	content: "";
	top: 0;
	right: 0;
	width: 0%;
	background-color: blue;
	height: 3px;
	transition: 0.2s ease-out;
}
nav ul li a:hover::before {
	width: 100%;
}
main {
	height: 100vh;
	background: linear-gradient(-90deg, yellow 65%, black 35%);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 10%;
}
.profile-img {
	background-color: yellow;
	border: 30px solid black;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
img {
	border-radius: 50%;
}
.content {
	max-width: 600px;
	color: black;
	line-height: 1.5;
}
.content h1 {
	font-size: 50px;
	text-align: center;
}
.content h3 {
	font-size: 40px;
	text-align: center;
}
.content p {
	font-size: 18px;
	margin-top: 20px;
	text-align: center;
	letter-spacing: 2px;
}
.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}
.wrapper .static-txt {
	color: black;
	font-size: 60px;
	font-weight: 400;
	position: relative;
}
.wrapper .dynamic-txts {
	height: 90px;
	margin-left: 15px;
	line-height: 90px;
	overflow: hidden;
}
.dynamic-txts li {
	list-style: none;
	font-size: 60px;
	font-weight: 500;
	color: blue;
	position: relative;
	top: 0;
	animation: slide 6s steps(4) infinite;
}
@keyframes slide {
	100% {
		top: -360px;
	}
}
.dynamic-txts li span {
	position: relative;
}
.dynamic-txts li span::after {
	content: "";
	position: absolute;
	height: 90px;
	background: yellow;
	width: 100%;
	left: 0;
	border-left: 3px solid black;
	animation: typing 1.5s steps(14) infinite;
}
@keyframes typing {
	100% {
		left: 100%;
		margin: 0 -35px 0 35px;
	}
}
strong {
	display: flex;
	justify-content: center;
	font-size: 25px;
	font-family: monospace;
	margin-top: 20px;
	color: red;
	-webkit-text-stroke: 1px black;
}
.blink {
	animation: blink-animation 1s steps(5, start) infinite;
	color: red; /* You can change the color if you like */
	font-size: 24px; /* Adjust the font size as needed */
	font-weight: bold;
}

/* Keyframes for the blink animation */
@keyframes blink-animation {
	to {
		visibility: hidden;
	}
}

.btn {
	display: flex;
	margin: 20px auto;
	font-size: 20px;
	font-weight: 600;
	background-color: yellow;
	color: black;
	border: 3px solid black;
	border-radius: 40px;
	padding: 5px 10px;
	text-transform: uppercase;
	cursor: pointer;
}
