* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	position: relative;
	scroll-behavior: smooth;
}
main {
	background: linear-gradient(-90deg, yellow 75%, black 25%);
	background-size: cover;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
input {
	display: none;
}
nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	top: 8px;
	position: fixed;
	width: 100%;
	right: 0;
}
.logo .span {
	color: white;
	font-weight: bold;
	text-transform: uppercase;
}
.logo {
	font-size: 25px;
	text-decoration: none;
	font-weight: bold;
	color: yellow;
	margin-left: 80px;
}
nav ul {
	display: flex;
}
nav ul li {
	list-style: none;
}
nav ul li a {
	text-decoration: none;
	font-size: 18px;
	font-weight: 600;
	font-family: Arial, Helvetica, sans-serif;
	display: inline-block;
	margin: auto 20px;
	width: max-content;
	color: black;
	padding: 10px;
	position: relative;
	align-items: center;
	justify-content: center;
}
nav ul li a:hover,
.active {
	color: blue;
	width: max-content;
	border-bottom: 4px solid blue;
}
nav ul li a::before {
	position: absolute;
	content: "";
	top: 0;
	right: 0;
	width: 0%;
	background-color: blue;
	height: 3px;
	transition: 0.2s ease-out;
}
nav ul li a:hover::before {
	width: 100%;
}
.profile-img {
	background-color: yellow;
	border: 30px solid black;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
img {
	width: 380px;
	height: 380px;
	border-radius: 50%;
}
.content {
	max-width: 600px;
	color: black;
	line-height: 1.5;
	margin: 20px auto;
	padding: 10px;
	text-align: center;
}
.content h1 {
	font-size: 40px;
}
.content h3 {
	font-size: 40px;
	color: blue;
}
.content p {
	font-size: 16px;
	font-weight: 500;
	margin-top: 20px;
	letter-spacing: 2px;
}
.wrapper {
	font-size: 50px;
}
.wrapper .static-txt {
	color: black;
	font-weight: 400;
	position: relative;
}
.wrapper .dynamic-txts {
	margin-left: 15px;
	height: 90px;
	line-height: 90px;
	overflow: hidden;
}
.dynamic-txts li {
	list-style: none;
	font-weight: 500;
	color: blue;
	position: relative;
	top: 0;
	animation: slide 6s steps(4) infinite;
}
@keyframes slide {
	100% {
		top: -360px;
	}
}
.dynamic-txts li span {
	position: relative;
}
.dynamic-txts li span::after {
	content: "";
	position: absolute;
	height: 90px;
	background: yellow;
	width: 100%;
	left: 0;
	border-left: 3px solid black;
	animation: typing 1.5s steps(14) infinite;
}
@keyframes typing {
	100% {
		left: 100%;
		margin: 0 -35px 0 35px;
	}
}
.blink {
	display: flex;
	justify-content: center;
	font-family: monospace;
	margin-top: 20px;
	text-align: center;
}
.blink {
	animation: blink-animation 1s steps(5, start) infinite;
	color: red; /* You can change the color if you like */
	font-size: 20px; /* Adjust the font size as needed */
	font-weight: 500;
}

/* Keyframes for the blink animation */
@keyframes blink-animation {
	to {
		visibility: hidden;
	}
}

.btn {
	margin: 20px;
	font-size: 16px;
	font-weight: 600;
	background-color: yellow;
	color: black;
	border: 2px solid black;
	border-radius: 40px;
	padding: 5px 10px;
	text-transform: uppercase;
	cursor: pointer;
}
.footer {
	background-color: black;
	color: white;
	text-align: center;
	padding: 20px;
	font-size: 20px;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: max-content;
	text-transform: uppercase;
}
.footer .span {
	color: yellow;
	text-transform: capitalize;
}

/* tablet version */
@media (max-width: 950px) {
	main {
		background: linear-gradient(-90deg, yellow 78%, black 22%);
	}
	nav .logo {
		font-size: 22px;
		margin-left: 30px;
	}
	nav ul li a {
		font-size: 16px;
	}
	.content h1 {
		font-size: 30px;
	}
	.content h3 {
		font-size: 35px;
	}
	.content p {
		font-size: 15px;
	}
	.wrapper .static-txt {
		font-size: 45px;
	}
	.dynamic-txts li {
		font-size: 45px;
	}
	img {
		width: 350px;
		height: 350px;
	}
	.profile-img {
		border: 25px solid black;
	}
	.blink {
		font-size: 20px;
	}
	.btn {
		font-size: 15px;
	}
	.footer {
		font-size: 18px;
	}
}

/* mobile version */
@media (max-width: 730px) {
	main,
	body {
		display: block;
		background: yellow;
		height: 100vh;
	}
	.logo {
		font-size: 25px;
		margin-left: 15px;
	}
	.profile-img {
		border: none;
		margin-top: 60px;
	}
	img {
		height: 250px;
		width: 250px;
		border: 6px solid blue;
	}
	.content {
		height: 70vh;
	}
	nav {
		background: black;
		top: 0;
		height: 6%;
	}
	nav ul {
		display: grid;
		background: transparent;
		position: absolute;
		width: 180px;
		background: transparent;
		transform: translatex(260px);
		z-index: -1;
		transition: 0.6s;
		top: 40px;
		right: -3%;
	}
	/* nav ul li:hover,
	.active {
		border-bottom: none;
	} */
	nav ul li {
		text-align: center;
	}
	nav ul li a {
		color: black;
	}
	nav ul li a::before {
		background: none;
	}

	nav .navbar-toggle {
		display: grid !important;
	}

	/*This is for toggle section css*/
	nav .navbar-toggle {
		display: none;
		height: min-content;
		cursor: pointer;
	}
	nav .navbar-toggle .bar {
		width: 30px;
		height: 3px;
		margin: 5px 12px 0px 40px;
		background: white;
		border-radius: 12%;
		transition: 0.4s;
	}
	input:checked ~ nav ul {
		transform: translateY(0);
	}
	input:checked ~ nav .navbar-toggle .bar:nth-child(1) {
		position: absolute;
		transform: rotate(45deg);
	}
	input:checked ~ nav .navbar-toggle .bar:nth-child(2) {
		display: none;
	}
	input:checked ~ nav .navbar-toggle .bar:nth-child(3) {
		transform: rotate(-45deg);
	}
	.footer {
		font-size: 16px;
	}
}
